th  {
    background-color: rgb(130, 130, 248);
}
td {
    background-color: rgb(104, 207, 241);
}
table {
    background-color: lightgray;
}
h2 {
    color: darkslateblue;
}
h2 {
    background-color: aquamarine;
}
body {
    background-color: rgb(197, 197, 197);
}
